{% extends "layout.html" %}

{% block title %}
    CS50 Finance Transaction History
{% endblock %}

{% block main %}
    <h1>Transaction History</h1>
    <br>
    <table>
        <thead>
            <tr>
                <th>Stock</th>
                <th>Quantity</th>
                <th>Value</th>
                <th>Type</th>
                <th>Date</th>
            </tr>
        </thead>
        <tbody>
            <!-- TODO: Loop through the transactions to display all transactions in this table -->
            {% for transaction in transactions %}
                <tr>
                    <td>{{ transaction.stock }}</td>
                    <td>{{ transaction.quantity }}</td>
                    <td>{{ transaction.price }}</td>
                    <td>{{ transaction.status }}</td>
                    <td>{{ transaction.date }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

{% endblock %}